.container {
  display: flex;
 
  height: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  justify-content: flex-start;
}

.link {
  margin-right: 565px;
}
