.block {
  width: 540px;
  height: 300px;
  border: 2px solid #8DFD1B;
  margin-bottom: 70px;
  color: white;
}

.header {
    border: 2px solid #8DFD1B;
    height: 70px;
    display: flex;

    button {
        background-color: #8DFD1B;
        width: 45px;
        height: 45px;
        margin: 12px;
        font-size: 28px;
    }

    p {
        font-size: 8px;
        color: #8DFD1B;
        font-weight: 400;
        font-family: 'DM Mono';
    }

    h2 {
        font-size: 16px;
        font-family: 'DM Mono';
        font-weight: 400;
    }
}

.textinfo {
    display: flex;


    p {
        margin-left: 20px;
        margin-top: 30px;
        width: 310px;
        line-height: 32px;
        font-weight: 400;
        font-family: 'Inter';
        font-family: 'Inter';
font-style: normal;

font-size: 11px;

    }

    img {
        margin: 30px 12px 40px 70px;
    }
}


